{% extends 'base.html' %}

{% block content %}
    <article id="main">
        <header>
            <h2>{{ article.title }}</h2>
            <p>{{ article.date.strftime('%-d %B') }}</p>
            <a href="https://www.eventbrite.com/e/the-raw-and-the-cooked-tickets-49375371064" class="button primary">Tickets</a>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                {{ article.content }}

                <hr />

                <h3>Schedule</h3>
                {% include 'includes/schedule.html' %}

                <h3>Keynote Speakers</h3>
                {% set items = articles|selectattr('category', 'equalto', article.slug + '_events')
                                       |selectattr('type', 'equalto', 'keynote') %}
                {% set columns = 6 %}
                {% include 'includes/items.html' %}

                <h3>Workshops</h3>
                {% set columns = 6 %}
                {% set items = articles|selectattr('category', 'equalto', article.slug + '_events')
                                       |selectattr('type', 'equalto', 'workshop') %}
                {% include 'includes/items.html' %}

                <h3>Artists</h3>
                {% set columns = 4 %}
                {% set items = articles|selectattr('category', 'equalto', article.slug + '_artists') %}
                {% include 'includes/items.html' %}

            </div>

        </section>
    </article>
{% endblock %}
