<section id="two" class="wrapper alt style2">

    {% for article in articles|selectattr('category', 'equalto', 'day') %}

        <section class="spotlight">
            <div class="image">
                <img src="{{ article.image }}" alt="{{ article.title }} image" />
            </div>
            <a href="{{ article.url }}" class="content">
                <h2>{{ article.title }}</h2>
                <p>{{ article.summary }}</p>
            </a>
        </section>

    {% endfor %}
</section>
