<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Inter/sections 2018: The RAW and The COOKED.
            </h2>
            <p>

                The RAW and The COOKED is a two day ‘happening’ of new approaches to musical creation and creativity. Fostering an open source ethos to sharing and developing new (and existing) skills, the event brings together the best of today's pioneering musical movements.
            </p>
            <p>
                The event, hosted by PhD Students from the Media & Arts Technology Centre for Doctoral Training at Queen Mary University of London, fuses practical workshops and demonstrations with theoretical presentations of current practice in Live Coding and DIY instrument/modular building. Targeting both complete beginners and experts alike the daytime section of the events opens up new possibilities and tools, which are explored further during two evenings of live performances in an informal club environment.
            </p>
        </header>
    </div>
</section>
