<title>{{ SITENAME }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="theme/css/main.css" />
<noscript><link rel="stylesheet" href="theme/css/noscript.css" /></noscript>
<link rel="shortcut icon" type="image/png" href="theme/images/favicon.png"/>

<meta name="description" content="{{ DESCRIPTION }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ DESCRIPTION }}">
<meta name="twitter:site" content="@_intersections_">
<meta name="twitter:title" content="{{ SITENAME }}">
<-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="{{ SITEURL }}/images/card_pic.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:image" content="{{ SITEURL }}/images/card_pic.jpg" />
<meta property="og:description" content="{{ DESCRIPTION }}" />
<meta property="og:site_name" content="{{ SITENAME }}" />
<meta property="fb:admins" content="464302180645710" />
